#slider {
    /* padding: 0 14px; */
	margin-bottom: 80px;
}
#slider {
	height: 4px;
	background: #31468c;
	box-shadow: none;
	border: none;
}
#slider .noUi-connect {
    background: #c0392b;
}
#slider .noUi-handle {
	height: 32px;
	width: 32px;
	top: -15px;
	border: 1px solid #31468c;
	right: -15px;
	border-radius: 19px;
	box-shadow: none;
	background: #c7cb50;
}
#slider .noUi-handle::after, #slider .noUi-handle::before {
	left: 0;
	pointer-events: none;
	background: url(/assets/img/tree.svg) no-repeat center center / 17px;
	top: 0;
	width: 100%;
	height: 100%;
    filter: invert();
}
#slider .noUi-handle::after {
	left: 15px;
	display: none;
}
#slider .noUi-touch-area {
	cursor: pointer;
}
.noUi-pips-horizontal {
    font-size: 12px !important;
    font-family: "Nunito Sans", sans-serif;		
}
.noUi-value-horizontal {
    margin-top: 7px !important;
}
.noUi-pips {
    font-size: 12px;
}
.noUi-pips {
	color: #31468c;
}
.noUi-handle.noUi-handle-lower:focus-visible {
	outline: none;
}