.calculator {
	padding: 80px 50px;
	background: #fff;
	color: #000;
}
#almost-msg {
	margin: 10px 0 40px;
	padding: 20px;
	background: #c7cb50;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
}
#slider {
    /* padding: 0 14px; */
	margin-bottom: 80px;
}
#slider {
	height: 4px;
	background: #31468c;
	box-shadow: none;
	border: none;
}
#slider .noUi-connect {
    background: #c0392b;
}
#slider .noUi-handle {
	height: 32px;
	width: 32px;
	top: -15px;
	border: 1px solid #31468c;
	right: -15px;
	border-radius: 19px;
	box-shadow: none;
	background: #c7cb50;
}
#slider .noUi-handle::after, #slider .noUi-handle::before {
	left: 0;
	pointer-events: none;
	background: url(/assets/img/tree.svg) no-repeat center center / 17px;
	top: 0;
	width: 100%;
	height: 100%;
    filter: invert();
}
#slider .noUi-handle::after {
	left: 15px;
	display: none;
}
#slider .noUi-touch-area {
	cursor: pointer;
}
.input-currency {
	position: absolute;
	top: 11px;
	right: 238px;
	font-size: 22px;
	font-weight: 700;
}
.pr-5 {
	padding-right: 50px;
}
.calculator-inputs {
	margin-bottom: 70px;
}
.calculator-inputs input {
	width: 250px;
	font-size: 30px;
	padding: 2px 15px;
	text-align: center;
	font-weight: 100;
	background: rgba(255, 255, 255, 0.28);
	color: #000;
	font-family: var(--font-nunito);
}
.calculator-inputs input:active,
.calculator-inputs input:focus {
	border: 1px solid #31468c !important;
	outline: none !important;
	box-shadow: none !important;
	font-family: var(--font-nunito);
}
.calculator-inputs .col-4:last-of-type {
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}
.calculator-results p {
    font-size: 15px;
	opacity: 0.7;
    color: #000;
}
.col-sm-6.position-relative {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}
.calculator-results .big-numbers span {
	font-family: var(--font-nunito);
	display: inline;
	font-size: 18px;
	font-weight: 700;
	margin-right: 4px;
	top: -1px;
	position: relative;
}
.bordered-panel {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(49, 70, 140, 0.3);
	padding: 20px;
	border-radius: 15px;
}
.bordered-panel h3 {
	color: #31468c;
	margin-bottom: 20px;
	font-weight: 100;
	font-size: 28px;
}
.calculator-results .big-numbers {
	font-size: 24px;
	color: #31468c;
	font-family: var(--font-nunito);
	margin-bottom: 15px;
}
.calculator-results .big-numbers span {
	font-family: var(--font-nunito);
	display: inline;
	font-size: 18px;
	font-weight: 700;
    margin-right: 4px;
}
.noUi-pips {
	color: #31468c;
}
.noUi-handle.noUi-handle-lower:focus-visible {
	outline: none;
}
.calc-buttons {
	margin: 60px 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.graph-legend {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.legend-item {
	font-size: 12px;
	display: inline-flex;
	padding-left: 30px;
	margin: 10px 10px 0;
	position: relative;
    align-items: center;
}
.legend-item.blue-item::before {
	content: "";
	width: 30px;
	background: #31468c;
	height: 10px;
	margin-right: 6px;
}
.legend-item.green-item::before {
	content: "";
	width: 30px;
	background: #c7cb50;
	height: 10px;
	margin-right: 6px;
}

@media(max-width: 767px){
    .noUi-pips {
        font-size: 12px;
    }
    .calculator-inputs input {
        width: 100%;
        font-size: 26px;
    }
    .input-currency {
        position: absolute;
        top: 6px;
        right: auto;
        font-size: 22px;
        font-weight: 700;
        left: 30px;
    }
    .calculator-inputs .col-sm-6 {
        margin-bottom: 20px;
    }
    .col-sm-6.position-relative {
        align-items: flex-start;
    }
    #slider {
        width: 96% !important;
        margin-left: 2%;
    }
    .section-head.pr-5 {
        padding-right: 0;
    }
    .calculator {
        padding: 40px 0 80px;
        background: #fff;
        color: #000;
    }
    .calculator-results .col-sm-4 {
        margin-bottom: 15px;
    }
    .calc-buttons {
        margin: 0px 0 0px;
    }
    .offset-2 {
        margin-left: 0;
    }
    .col-md-8.offset-2 .title {
        font-size: 24px !important;
    }
    .feature.one .pic .feature-img {
        max-width: 70%;
        margin-right: 15%;
    }
    .partners-section .img-fluid {
        width: 90% !important;
        margin-bottom: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
        max-height: 100px !important;
        max-width: 240px !important;
        margin-top: 0px;
    }
    .partner-slider .swiper-slide {
        height: 150px;
        display: flex;
        align-items: center;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 15px;
        padding-left: 15px;
    }
    body .team .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        background: #fff;
    }
    body .partners-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background: #31468c;
    }
    .swiper-partner-pagination {
        text-align: center;
    }
    .partners-section .img-fluid {
        width: 80%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .chart-section {
        padding: 50px 15px 67px !important;
    }
    #contact-form .button.button-1.green-button {
        width: 100% !important;
    }
    .calculator-inputs {
        margin-bottom: 30px;
    }
    .disclaimer {
        font-size: 10px;
    }
    .noUi-pips-horizontal {
        font-size: 12px !important;
		font-family: var(--font-nunito)	
    }
    .noUi-value-horizontal {
        margin-top: 7px !important;
    }
    #almost-msg {
        padding: 10px;
        font-size: 12px;
    }
    .mt-mob-0 {
        margin-top: 0px !important;
    }
    .mt-mob-4 {
        margin-top: 40px !important;
    }

}