@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --foreground: #ffffff;
  --background: #212529;
  --primary: #31468c;
  --primary-hover: #182a68;
  --secondary: #c7cb50;
  --secondary-hover: #919430;
}
